:root {
    --col_one:      #ffffff;
    --col_two:      #f2f2f2;
    --col_three:    #e8e8e8;
    --col_four:     #333333;
    --col_five:     #111111;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;

    max-width: 800px;
    margin: 40px auto;
    padding: 5vh;
    padding-top: 2vh;

    border-left: 2px solid;

    background-color: var(--col_one);
    color: var(--col_four);
}

h1, h2, h3, article {
    line-height: 1.2;
    
    /* this means that when clicking a link to the anchor, it will go to x ammount of pixels above it */
    scroll-margin-top: 100px;
}

h1 {
    text-align: center;
}

#flex-container {
    display: flex;
    background-color: var(--col_two);
    flex-wrap: wrap;
    justify-content: center;
}

#flex-container > a {
    text-decoration: none;
    color: var(--col_five);
}

#flex-container > a > div {
    background-color: var(--col_three);
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
}

nav {
    background-color: var(--col_four);
    top: 0;
    position: fixed;
    left: 0;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--col_four);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: var(--col_one);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--col_five); 
}

.social_icon img {
    width: 50px;
    height: 50px;
}

/* 
<style>
body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
}

h1,h2,h3{
    line-height:1.2
}

</style>  */
